.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  .card {
    width: 600px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 4px gray;
    padding: 20px;
  }
  
  .nameCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imageWrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid black;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .name {
    font-size: 32px;
    font-weight: 600;
  }
  
  .tag {
    font-size: 24px;
    color: gray;
  }
  
  .location {
    font-size: 24px;
    color: gray;
  }
  
  .info {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    border-radius: 20px;
  }
  
  .infoItem {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .follViewLike {
    font-size: 20px;
    font-weight: 550;
  }