.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .thred {
    background-color: #7e7e7e;
  }
  
  .item {
    border-bottom: 2px solid #ddd;
  }
  
  .headerCell {
    padding: 10px;
    font-weight: bold;
  }
  .row {
    border-bottom: 1px solid #ddd;
  }
  
  .cell {
    padding: 10px;
  }
  
  .row:nth-child(even) {
    background-color: #e7e5e5;
  }
  .row:nth-child(odd) {
    background-color: #ffffff;
  }